* {
   box-sizing: border-box;
}
header {
   width: 960px;
   margin: 0 auto;
}
h1 {
   font-family: 'Georgia', Times, Times New Roman, serif;
   color: #ffffff;
   border: 5px solid #82af89;
   background-color: #82af89;
   text-align: center;
   width: 33%;
   float: left;
   margin-top: 20px;
   margin-bottom: 0%;
   padding: 20px;
}
.everythingelse {
   background: url("../images/tree_bark.png");
   font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
   width: 100%;
   margin: 0 auto;
   clear: both;
}
 .header{
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #82af89;
    clear: both;
 } 

a {
  color: #82af89;
  text-decoration: none;
 }
 nav {
     float: right;
     margin-bottom: 0px;
     margin-top: 60px;
 }
 .maincontent {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    overflow: auto;
    clear: both;
    border: 3px solid #dddddd;
    width: 960px;
    margin: 0 auto;
  }

 .img {
    float: left;
    padding-right: 15px;
    padding-bottom: 15px;
 }

 input[type=submit] {
    background-color: #82af89;
    color: white;
    padding: 12px 20px;
    border: none;
 }

 input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #c0bfbf; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px;
    resize: vertical
  }

  img.hangman{
  
  }
  img.rpg{
    
  }
  img.trivia{
    
  }
  img.rutgers{
    
  }
  img.rock{
    
  }
  
  div.hangman{
 
  }

  div.rpg{
  
  }
  div.trivia{
    
  }
  div.rutgers{
   
  }
  div.rock{
  
  }
  
  h3#hangman{
  
  }
  h3#rpg{
    
  }
  h3#trivia{
  
  }
  h3#rutgers{
    
  }
  h3#rock{
   
  }
.footer {
   background-color: #9c9c9c;
   border: 5px solid #9c9c9c;
   border-top: 5px solid #82af89;
   height: 50px;
   text-align: center;
   clear: both;
   margin-top: 20px;
   padding-top: 10px;
}

