body {
    background: url("../images/leaves.png");
    width: 960px;
  
 }

.footer {
    border-top: 8px solid #4aaaa5
 }

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }

  input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ffffff; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px;
    resize: vertical
  }

  .container {
    background-color: #f2f2f2;
    padding: 20px;
  }